@page "/"

<h1>Blazor State Management!</h1>

Some examples of managing state within a Blazor application! These examples use prerender so hence why all calls to setup are done in OnAfterRenderAsync();
